<!DOCTYPE html>
<html>
  
  <head>
    <title>Jovian Careers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    
    
  </head>
  
  <body>
    <div>
    <h1>Jovian Careers</h1>
    <p> Hello, Welcome to Jovian Job Opportunities </p>
    <img src = 'https://jovian-careers.pravz149.repl.co/static/image.jpg'height = "320" >
    
    <h2>About Jovian</h2>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    
  <h2>Open Positions</h2>
  <p>TODO = Show the jobs</p>
      
  <div>
  <button>Contact Us</button>
    <p>Copyright 2022 , Jovian</p>
  </div>

    
  </body>
</html>